<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body> 
 
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="/home">Home <span></a></li>
        <li role="presentation"><a href="/profile">Profile</a></li>
        <li role="presentation"><a href="/messages">Messages <span></span></a></li>
      </ul>
      <p class="navbar-text">Signed in<a href="/profile" class="navbar-link"></a></p>
      </div>
    </nav> 

<body>
  <div class="row">
    <div class="col-sm-5 col-offset-6">
      <h1> Welcome to Fwitter </h1>
      <p> Connect with your friends - and share your fweets with them. Get in the moment and think out! </p>
    </div>
  </div>
</body>

<div class="row">
<div class="col-sm-4 col-sm-offset-6">
<form class="form-horizontal" role="form">
  Log In Here
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <a class="btn btn-default btn-default" href="/home" role="button">Log In</a>
    </div>
  </div>
</form>
</div>
</div>

<div class="row">
<div class="col-sm-4 col-sm-offset-6">
<form class="form-horizontal" role="form">
  Sign Up for Fwitter Here
  <div class="form-group">
    <label for="inputUseername" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="Username" class="form-control" id="inputUsername" placeholder="Full Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <a class="btn btn-default btn-default" href="/home" role="button">Register</a>
    </div>
  </div>
</form>
</div>
</div>

  <address>
  <strong>Fwitter, Inc.</strong><br>
  795 Silicon Valley, Suite 10<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (718) 559-7952
</address>

<address>
  <strong>Deven Desai</strong><br>
  <a href="mailto:#">ddesai@collegiateschool.org</a>
</address>
</form>  
</div>
   
  </body>
</html>
