 <!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  
<body>        
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="/home">Home <span></a></li>
        <li role="presentation"><a href="/profile">Profile</a></li>
        <li role="presentation" class="active"><a href="/messages">Messages <span></span></a></li>
      </ul>
      </div>
    </nav>   

<div class="container">
  <% @tweets.each do |tweet| %> 
    <h1><%=tweet.user.username%>: <%= tweet.message %></h1>
    <%end%>

    <form action="/messages" method="POST">
      <input type="hidden" name="user_id" value=<%=session[:user_id] %>>

        Message: <input class="form-control" type="text" name="message">
        <p>
        </p>
        <input type="submit" class="btn btn-default">
      </form>
      </div>
    </a>
</div>
</body>
</html>