<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body> 
 
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#">Home <span></a></li>
        <li role="presentation"><a href="/profile">Profile</a></li>
        <li role="presentation"><a href="/messages">Messages <span></span></a></li>
      </ul>
      </div>
    </nav>   
  </body>
</html>

